<h1>Post Journal</h1>

<div id="wrapper">
  <div id="sidebar"></div>

  <div id="content"></div>
</div>



<script type = "application/json" id="bootstrapped_posts_json">
  <%= Post.all.to_json.html_safe %>
</script>

<script type="application/javascript">
  $(function() {
    var posts = JSON.parse($("#bootstrapped_posts_json").html());

    window.JournalApp.initialize($("#wrapper"), posts);
  });
</script>