// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button {
  background-color: lightblue;
}

sidebar {

  width: 200px;
  height: 200px;
}

content {
  background-color: beige;
  float: left;
}